.slider-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: -298px; /* Ajuste para que no se solape con el Navbar */
    position: relative;
    overflow: hidden;
    height: 500px; /* Altura del contenedor del slider */
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%; /* Hereda la altura del contenedor */
}

.slide {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Hereda la altura del contenedor */
}

.slide img {
    max-width: 100%;
    height: 100%; /* Ajusta la imagen al 100% de la altura del slide */
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio sin distorsionarse */
    border-radius: 10px; /* Opcional, si quieres bordes redondeados */
}
  
  /* Botones de navegación */
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  